
.view-container {
    margin-top: 10px;
    width: 95vw;
    min-height: 91vh;
    margin-left: auto;
    margin-right: auto;
}

#home-container {
    background: whitesmoke;
    border: .5px solid #8c8d8f;
    border-radius: 10px;
}

#loader-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}