.Login-header {
  /*background-color: #282c34; */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(1px + 1.3vmin); */
}

/* Fade in for home page */
.page-load {
  animation-name: page-load-in;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

#info-text {
  color:  #282c34;
}

#login-input-username {
  width: 300px;
}

#login-input-password {
  width: 300px;
}

#loginErr {
  color: #ff0000;
}

/* Fade in for home page */
@keyframes page-load-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}